In [2]:
import sys
import os
sys.path.append(os.path.abspath('../utilities'))
import global_utils
import recommander_util

# Data Manipulation and Analysis
import numpy as np  
import pandas as pd 

# Data Visualization
import matplotlib.pyplot as plt 
import seaborn as sns  
import plotly.express as px

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import joblib
from scipy import sparse
from gensim.models import Word2Vec

In [3]:
df = global_utils.import_csv('./../data/customer1.csv')
global_utils.define_df_settings()

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_ID     500 non-null    int64
 1   first_name      500 non-null    object
 2   last_name       500 non-null    object
 3   email           500 non-null    object
 4   question_1      500 non-null    object
 5   question_2      500 non-null    object
 6   question_3      500 non-null    object
 7   question_4      500 non-null    object
 8   question_5      500 non-null    object
 9   home_store_add  500 non-null    object
 10  home_store_fsa  500 non-null    object
dtypes: int64(1), object(10)
memory usage: 43.1+ KB

Let's PreProcess the data and and combine all of our questions column into one.

In [6]:
unique_values = df['home_store_fsa'].unique()
print(unique_values)

['M6A 3A1' 'M9C 1B8']

In [7]:
df['questions_concat'] = df[['question_1', 'question_2', 'question_3', 'question_4', 'question_5']].agg(', '.join, axis=1)

df.head()

,customer_ID,first_name,last_name,email,question_1,question_2,question_3,question_4,question_5,home_store_add,home_store_fsa,questions_concat
0,1000001,Abigail,Lewis,abigail.lewis1000001@example.com,"Walking, Jogging, Pilates",2–3 days,Lunch,Medium,"Weight Loss, Improve Health, Training","3401 Dufferin St Unit 512, North York, ON",M6A 3A1,"Walking, Jogging, Pilates, 2–3 days, Lunch, Medium, Weight Loss, Improve Health, Training"
1,1000002,Mason,Brown,mason.brown1000002@example.com,"Jogging, Walking, Running",0–1 days,Mid-Morning,High,"Social, Reduce Stress, Build Strength","25 The West Mall Unit 1766B, Etobicoke, ON",M9C 1B8,"Jogging, Walking, Running, 0–1 days, Mid-Morning, High, Social, Reduce Stress, Build Strength"
2,1000003,David,Jones,david.jones1000003@example.com,"Hiking, Cycling, Walking",2–3 days,Lunch,Medium,"Social, Weight Loss, Build Strength","25 The West Mall Unit 1766B, Etobicoke, ON",M9C 1B8,"Hiking, Cycling, Walking, 2–3 days, Lunch, Medium, Social, Weight Loss, Build Strength"
3,1000004,Liam,Martin,liam.martin1000004@example.com,"Running, Group Fitness Class, Hiking",4–5 days,Lunch,Low,"Improve Health, Training, Social","25 The West Mall Unit 1766B, Etobicoke, ON",M9C 1B8,"Running, Group Fitness Class, Hiking, 4–5 days, Lunch, Low, Improve Health, Training, Social"
4,1000005,Samuel,Perez,samuel.perez1000005@example.com,"Running, Swimming, Jogging",4–5 days,Lunch,High,"Training, Build Strength, Social","25 The West Mall Unit 1766B, Etobicoke, ON",M9C 1B8,"Running, Swimming, Jogging, 4–5 days, Lunch, High, Training, Build Strength, Social"

Now we will vectorize our newly created combined coulmn using the TF-IDF vectorizer. It will help us to compare the coine similarity between the new user and the existing user.

In [9]:
vectorizer = TfidfVectorizer(stop_words = "english")
TF_IDF_matrix = vectorizer.fit_transform(df['questions_concat'])

In [10]:
TF_IDF_matrix.shape

(500, 31)

As we can see after vectorizing process we have 31 features to work with.

Let's print the cosine-similarity between our existing users as a summary.

In [12]:
similarity = cosine_similarity(TF_IDF_matrix,dense_output=False)
print(similarity)

  (0, 499)	0.3705929112443899
  (0, 496)	0.18985349864472761
  (0, 493)	0.13163467550385777
  (0, 486)	0.27857192728721647
  (0, 478)	0.41405733929484523
  (0, 475)	0.1651826263479633
  (0, 474)	0.3447717399500473
  (0, 461)	0.4982390235957516
  (0, 458)	0.2281801712827467
  (0, 457)	0.38278131213864647
  (0, 455)	0.5567777876227006
  (0, 454)	0.19137238340199075
  (0, 453)	0.28773565397146295
  (0, 450)	0.3075841389087709
  (0, 437)	0.3375334564327407
  (0, 435)	0.46178131350020424
  (0, 433)	0.07547989632032162
  (0, 432)	0.22546100473459718
  (0, 426)	0.1479200283954869
  (0, 422)	0.3679363272178139
  (0, 418)	0.42356526270648087
  (0, 417)	0.22387126650374126
  (0, 413)	0.07318285736133794
  (0, 409)	0.3144668803255763
  (0, 407)	0.24911537267447703
  :	:
  (499, 24)	0.6023774059886153
  (499, 23)	0.5261575490396135
  (499, 22)	0.41217493144443346
  (499, 21)	0.47181749357103336
  (499, 20)	0.2904441780867202
  (499, 19)	0.1723906514821607
  (499, 18)	0.3998964333093258
  (499, 17)	0.23116658577656377
  (499, 16)	0.30084114152535824
  (499, 15)	0.5140977124008174
  (499, 14)	0.3657960424590732
  (499, 13)	0.3788894076986349
  (499, 12)	0.40572474975548234
  (499, 11)	0.23991399582516312
  (499, 10)	0.25365398842127374
  (499, 9)	0.4644079418637216
  (499, 8)	0.6392394529003975
  (499, 7)	0.453897118489626
  (499, 6)	0.19795116980198013
  (499, 5)	0.704078540051716
  (499, 4)	0.21090566209944112
  (499, 3)	0.27646411373075713
  (499, 2)	0.4488661638911422
  (499, 1)	0.19780776194589914
  (499, 0)	0.3705929112443899

Also try to compare the couple of users with their using the cosine-similarity to check how our matrix is working.

In [14]:
user_1 = TF_IDF_matrix[(df['customer_ID'] == 1000001).values,]
user_2 = TF_IDF_matrix[(df['customer_ID'] == 1000002).values,]

print("Similarity:", cosine_similarity(user_1, user_2))

Similarity: [[0.27819005]]

In [15]:
user_1 = TF_IDF_matrix[(df['customer_ID'] == 1000001).values,]
user_3 = TF_IDF_matrix[(df['customer_ID'] == 1000003).values,]

print("Similarity:", cosine_similarity(user_1, user_3))

Similarity: [[0.50057243]]

In [16]:
# Get the column based upon the index
customer_index = df[df['customer_ID'] == 1000001].index

# Create a dataframe with the movie titles
sim_df = pd.DataFrame({'customer_ID':df['customer_ID'],
                       'similarity': np.array(similarity[customer_index, :].todense()).squeeze()})

In [17]:
sim_df[sim_df['similarity'] > 0.7]

     customer_ID  similarity
0        1000001    1.000000
62       1000063    0.750298
92       1000093    0.708946
161      1000162    0.714471
200      1000201    0.759645
245      1000246    0.701282
307      1000308    0.884253
319      1000320    0.747453
424      1000425    0.759921

Now it is the time to export our data and vectorizer file to use it to compare our new user.

In [19]:
joblib.dump(vectorizer, "./../models/tfidf_vectorizer.pkl")
sparse.save_npz("./../models/tfidf_matrix.npz", TF_IDF_matrix)
df.to_pickle("./../models/users_df.pkl")

In [20]:
# pip install geopy

In [21]:
# from geopy.geocoders import Nominatim
# from geopy.extra.rate_limiter import RateLimiter

# import csv 
# import time

# geolocator = Nominatim(user_agent="geo_app", timeout=10)  # Increased timeout
# geocode = RateLimiter(geolocator.geocode, min_delay_seconds=2)  # 2-second delay

# with open('./../data/postalcodes.csv', 'r') as f_in, open('./../data/postalcodes_new.csv', 'w') as f_out:
#     reader = csv.reader(f_in)
#     writer = csv.writer(f_out)
#     writer.writerow(['postal_code', 'lat', 'lng'])
#     next(reader)  # Skip header

#     for row in reader:
#         try:
#             # Clean the postal code
#             postal_code = row[0].replace('\xa0', '').replace(' ', '')  # Fix spaces
#             location = geocode(f"{postal_code}, Canada")
            
#             if location:
#                 writer.writerow([postal_code, location.latitude, location.longitude])
#             else:
#                 writer.writerow([postal_code, "Not found", "Not found"])
        
#         except Exception as e:
#             print(f"Error for {postal_code}: {str(e)}")
#             writer.writerow([postal_code, "Error", "Error"])
#             time.sleep(5)  # Wait longer if an error occurs

Let's Try the Word2Vec and check how it is performing.

In [22]:
df['tag_list'] = df['questions_concat'].apply(lambda x: [e.strip().lower() for e in x.split(', ')])

In [23]:
print(df['tag_list'])

0                       [walking, jogging, pilates, 2–3 days, lunch, medium, weight loss, improve health, training]
1                   [jogging, walking, running, 0–1 days, mid-morning, high, social, reduce stress, build strength]
2                          [hiking, cycling, walking, 2–3 days, lunch, medium, social, weight loss, build strength]
3                    [running, group fitness class, hiking, 4–5 days, lunch, low, improve health, training, social]
4                             [running, swimming, jogging, 4–5 days, lunch, high, training, build strength, social]
                                                           ...
495            [team sports, yoga, walking, 2–3 days, mid-morning, medium, training, build strength, reduce stress]
496                     [hiking, swimming, running, 4–5 days, mid-morning, medium, reduce stress, training, social]
497                               [running, yoga, jogging, 4–5 days, lunch, high, improve health, social, training]
498    [walking, group fitness class, yoga, 2–3 days, mid-morning, medium, reduce stress, improve health, training]
499     [cycling, yoga, weight training, 0–1 days, early morning, low, build strength, weight loss, improve health]
Name: tag_list, Length: 500, dtype: object

In [24]:
user_activity_tags =  df['tag_list'].tolist()

In [25]:
model = Word2Vec(sentences=user_activity_tags, vector_size=100, window=3, min_count=1, workers=4)

In [47]:
df['user_vector'] = df['tag_list'].apply(lambda events: recommander_util.get_user_vector(events, model))

In [59]:
user_vectors = np.vstack(df['user_vector'].to_numpy())
similarity_matrix = cosine_similarity(user_vectors)

In [61]:
print(similarity_matrix)

[[0.99999994 0.9983422  0.99931043 ... 0.99886924 0.9992555  0.9984985 ]
 [0.9983422  0.9999998  0.99868065 ... 0.9989227  0.99872506 0.99815446]
 [0.99931043 0.99868065 0.99999976 ... 0.99855584 0.9990388  0.9986254 ]
 ...
 [0.99886924 0.9989227  0.99855584 ... 0.9999999  0.99894017 0.99840295]
 [0.9992555  0.99872506 0.9990388  ... 0.99894017 0.9999997  0.9985613 ]
 [0.9984985  0.99815446 0.9986254  ... 0.99840295 0.9985613  1.0000002 ]]