In [8]:
import sys
import os
sys.path.append(os.path.abspath('../utilities'))
import global_utils

# Data Manipulation and Analysis
import numpy as np  
import pandas as pd 

# Data Visualization
import matplotlib.pyplot as plt 
import seaborn as sns  
import plotly.express as px

In [10]:
df = global_utils.import_csv('./../data/customer1.csv')
global_utils.define_df_settings()

In [12]:
df.head()

,customer_ID,first_name,last_name,email,question_1,question_2,question_3,question_4,question_5
0,1000001,Abigail,Lewis,abigail.lewis1000001@example.com,"Walking, Jogging, Pilates",2–3 days,Lunch,Medium,"Weight Loss, Improve Health, Training"
1,1000002,Mason,Brown,mason.brown1000002@example.com,"Jogging, Walking, Running",0–1 days,Mid-Morning,High,"Social, Reduce Stress, Build Strength"
2,1000003,David,Jones,david.jones1000003@example.com,"Hiking, Cycling, Walking",2–3 days,Lunch,Medium,"Social, Weight Loss, Build Strength"
3,1000004,Liam,Martin,liam.martin1000004@example.com,"Running, Group Fitness Class, Hiking",4–5 days,Lunch,Low,"Improve Health, Training, Social"
4,1000005,Samuel,Perez,samuel.perez1000005@example.com,"Running, Swimming, Jogging",4–5 days,Lunch,High,"Training, Build Strength, Social"

In [18]:
q_cols = [f"question_{i}" for i in range(1, 6)]

df["questions_concat"] = (
    df[q_cols]
      .fillna("")                                             
      .apply(lambda row: " ".join(str(v).replace(",", " ").strip() 
                                  for v in row), axis=1)      
      .str.replace(r"\s+", " ", regex=True)                   
      .str.strip()                                            
)

df.head()

,customer_ID,first_name,last_name,email,question_1,question_2,question_3,question_4,question_5,questions_concat
0,1000001,Abigail,Lewis,abigail.lewis1000001@example.com,"Walking, Jogging, Pilates",2–3 days,Lunch,Medium,"Weight Loss, Improve Health, Training",Walking Jogging Pilates 2–3 days Lunch Medium Weight Loss Improve Health Training
1,1000002,Mason,Brown,mason.brown1000002@example.com,"Jogging, Walking, Running",0–1 days,Mid-Morning,High,"Social, Reduce Stress, Build Strength",Jogging Walking Running 0–1 days Mid-Morning High Social Reduce Stress Build Strength
2,1000003,David,Jones,david.jones1000003@example.com,"Hiking, Cycling, Walking",2–3 days,Lunch,Medium,"Social, Weight Loss, Build Strength",Hiking Cycling Walking 2–3 days Lunch Medium Social Weight Loss Build Strength
3,1000004,Liam,Martin,liam.martin1000004@example.com,"Running, Group Fitness Class, Hiking",4–5 days,Lunch,Low,"Improve Health, Training, Social",Running Group Fitness Class Hiking 4–5 days Lunch Low Improve Health Training Social
4,1000005,Samuel,Perez,samuel.perez1000005@example.com,"Running, Swimming, Jogging",4–5 days,Lunch,High,"Training, Build Strength, Social",Running Swimming Jogging 4–5 days Lunch High Training Build Strength Social